h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #374151;
    margin: 0;
  }
  
  h1:after {
    display: block;
    width: 100%;
    background-color: #D7DBDF;
    height: 1px;
    top: 0;
    left: 0;
    content: '';
    margin-top: .625rem;
  }
  
  label {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #374151;
    margin: .5rem 0;
  }
  
  input, textarea {
    border: solid 1px #D2D6DB;
    border-radius: .375rem;
    padding: 14.5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    color: #374151;
  }
  
  .btn-save {
    background-color: #5850EB;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .3s;
  }
  
  .btn-save:hover {
    background-color: #473ee9;
  }
  
  .modify-profile {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
  }
  
  .modify-profile .form-container .bio {
    margin-top: 30px;
  }
  
  .modify-profile .form-container .form-item {
    margin: 25px 0;
  }
  
  .modify-profile .form-container .form-item .receive-partners-newsletter, .modify-profile .form-container .form-item .receive-newsletter {
    display: flex;
    align-items: center;
  }
  
  .modify-profile .form-container .form-item .receive-partners-newsletter label, .modify-profile .form-container .form-item .receive-newsletter label {
    cursor: pointer;
  }
  
  .modify-profile .form-container .form-item .receive-partners-newsletter input, .modify-profile .form-container .form-item .receive-newsletter input {
    cursor: pointer;
    width: fit-content;
    margin-right: .5rem;
  }
  
  .modify-profile .form-container .form-item:nth-child(1) {
    margin: 30px 0;
  }
  
  @media only screen and (min-width: 700px) {
    .modify-profile {
      max-width: 500px;
      margin: 50px auto;
    }
  }
  
  @media only screen and (min-width: 1041px) {
    .btn-save {
      max-width: 277px;
      margin-left: auto;
    }
    label {
      margin-top: 0;
    }
    input {
      width: 297px;
    }
    textarea {
      width: 297px;
      height: 150px;
      display: block;
    }
    .modify-profile {
      max-width: 1028px;
      padding: 0;
      margin: 50px auto;
    }
    .modify-profile form {
      padding: 30px 45px 55px 45px;
    }
    .modify-profile .form-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
    }
    .modify-profile .form-container .bio {
      margin-top: 0;
    }
    .modify-profile .form-container .form-item {
      width: 100%;
      margin-top: 0;
      margin-bottom: 25px;
    }
    .modify-profile .form-container .form-item .receive-newsletter label, .modify-profile .form-container .form-item .receive-partners-newsletter label {
      margin-bottom: 0;
    }
    .modify-profile .form-container .form-item .receive-newsletter {
      margin-right: 24px;
    }
    .modify-profile .form-container .form-block .form-item {
      margin: 0;
    }
    .modify-profile .form-container .form-block:nth-child(1) {
      margin-right: 1.1875rem;
    }
    .modify-profile .form-container .form-block:nth-child(1) .form-item {
      margin-bottom: 1.5625rem;
    }
    .modify-profile .form-container .form-block:nth-child(1) .form-item div:nth-of-type(1) {
      margin-right: 1.5rem;
    }
    .modify-profile .form-container .form-block:nth-child(2) .form-item {
      display: flex;
      flex-direction: column-reverse;
    }
    .modify-profile .form-container .form-block:nth-child(2) .form-item .bio {
      margin-bottom: 1.5625rem;
    }
    .modify-profile .form-container .form-item:nth-child(1) {
      display: flex;
    }
    .modify-profile .form-container .form-item:nth-child(2) {
      display: flex;
    }
    .modify-profile .form-container .form-item:nth-child(3) {
      display: flex;
    }
  }